[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8-fixme = "*"
pyflakes = "*"
autoflake = "*"
six = "*"
docutils = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-env = "*"
python-dotenv = "*"
ujson = "*"
asgi-lifespan = "*"
bandit = "*"
certifi = "*"
chardet = "*"
coverage = "*"
dnspython = "*"
email-validator = "*"
httptools = "*"
more-itertools = "*"
regex = "*"
smmap = "*"
text-unidecode = "*"
typed-ast = "*"
typing-extensions = "*"
urllib3 = "*"
websocket-client = "*"
websockets = "*"
async-exit-stack = "*"
fastapi = "*"
motor = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
pydantic = "*"
starlette = "*"
uvicorn = "*"
databases = "*"
bcrypt = "*"
markupsafe = "*"
unidecode = "*"
async-generator = "*"
uvloop = "*"

[dev-packages]

[requires]
python_version = "3.9"
